.actions-main,
.actions-page {
  padding: 71px 0 90px;

  @media screen and (min-width: 1230px) and (max-width: 1799px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 1230px) {
    padding: 20px 0;
  }
}

.actions {
  &__wrap {
    display: grid;
    grid-gap: 38px;
    grid-template-columns: 543.5px 543.5px 607px;
    grid-template-rows: repeat(3, 310px);

    @media screen and (min-width: 1024px) and (max-width: 1799px) {
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr 500px;
      grid-template-rows: repeat(3, 220px);
    }

    @media screen and (max-width: 1023px) {
      grid-gap: 12px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 45vw);
    }
  }

  &__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    margin-bottom: 32px;

    @media screen and (min-width: 1230px) and (max-width: 1799px) {
      font-size: 26px;
    }

    @media screen and (max-width: 1230px) {
      font-size: 15px;
      margin-bottom: 8px;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #f5f5f5;

    @media screen and (min-width: 1230px) and (max-width: 1799px) {
      font-size: 20px;
    }

    @media screen and (max-width: 1230px) {
      font-size: 14px;
    }
  }

  &__info {
    display: none;
  }

  &__more {
    display: inline-block;
    color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 55px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    padding: 13px 38px;
    background-color: transparent;
    position: absolute;
    bottom: 32px;
    left: 32px;

    @media screen and (min-width: 1230px) and (max-width: 1799px) {
      padding: 10px 20px;
      bottom: 20px;
      left: 20px;
      font-size: 14px;
    }

    @media screen and (max-width: 1230px) {
      padding: 5px 15px;
      font-size: 12px;
      left: 12px;
      bottom: 16px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 40px;
    color: #fff;
    flex-basis: 310px;
    border-radius: 5px;
    overflow: hidden;
    padding: 32px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

    @media screen and (min-width: 1230px) and (max-width: 1799px) {
      padding: 20px;
      flex-basis: unset;
      font-size: 30px;
    }

    @media screen and (max-width: 1230px) {
      padding: 16px 12px;
    }

    &:first-of-type {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      padding: 60px;
      width: 1122px;

      @media screen and (min-width: 1230px) and (max-width: 1799px) {
        .actions__title {
          font-size: 30px;
        }
      }

      @media screen and (max-width: 1799px) {
        width: auto;
      }

      @media screen and (max-width: 1230px) {
        grid-column-end: 2;
        grid-row-end: 2;
        padding: 12px 16px;
      }

      .actions-main__title {
        font-size: 64px;
        line-height: 80px;
        margin-bottom: 24px;
      }

      .actions-main__desc {
        font-size: 36px;
        line-height: 42px;
      }

      .actions-main__info {
        display: inline-block;
        background-color: $colorRed;
        padding: 14px 28px;
        margin-bottom: 55px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #fff;
        letter-spacing: 0.01em;
        border-radius: 5px;
      }

      .actions-main__more {
        background-color: $colorMain;
        padding: 23px 71px;
        font-size: 24px;
        line-height: 29px;
        border: none;
        left: 60px;
        bottom: 60px;
      }
    }
  }
}

.actions-main .actions__wrap {
  grid-template-rows: repeat(2, 310px);

  @media screen and (min-width: 1230px) and (max-width: 1799px) {
    grid-template-rows: repeat(2, 220px);
  }

  @media screen and (min-width: 1024px) and (max-width: 1230px) {
    grid-template-rows: repeat(1, 220px);
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: 1023px) {
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 45vw);
  }
}

.action-detailed {
  padding-bottom: 190px;

  @media screen and (min-width: 1024px) and (max-width: 1799px) {
    padding-bottom: 100px;
  }

  @media screen and (max-width: 1023px) {
    padding-bottom: 50px;
  }

  &__wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__main {
    width: 57.6%;

    @media screen and (min-width: 1024px) and (max-width: 1799px) {
      width: calc(66% - 30px);
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  img {
    margin-bottom: 39px;
    width: 100%;
    height: auto;
    object-fit: cover;

    @media screen and (max-width: 1023px) {
      margin-bottom: 16px;
    }
  }

  &__duration {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #464646;
    margin-bottom: 24px;

    @media screen and (min-width: 1024px) and (max-width: 1799px) {
      font-size: 20px;
    }

    @media screen and (max-width: 1023px) {
      font-size: 18px;
    }
  }

  &__content {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #464646;

    @media screen and (min-width: 1024px) and (max-width: 1799px) {
      font-size: 20px;
    }

    @media screen and (max-width: 1023px) {
      font-size: 18px;
    }
  }

  .sidebar {
    position: relative;
    width: 34.3%;

    @media screen and (min-width: 1024px) and (max-width: 1799px) {
      width: 33%;
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
      top: 0;
    }

    &__title {
      font-weight: 900;
      font-size: 36px;
      line-height: 1.3;
      letter-spacing: 0.01em;
      color: #252525;
      margin-bottom: 40px;

      @media screen and (min-width: 1024px) and (max-width: 1799px) {
        margin-bottom: 20px;
        font-size: 24px;
      }

      @media screen and (max-width: 1023px) {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 38px;
      width: 100%;
      height: 310px;
      box-shadow: inset 15px -48px 17px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      overflow: hidden;
      padding: 32px;
      position: relative;

      @media screen and (min-width: 1024px) and (max-width: 1799px) {
        padding: 20px;
        height: 210px;
        margin-bottom: 20px;
      }

      @media screen and (max-width: 1023px) {
        padding: 15px;
        height: 150px;
        margin-bottom: 12px;
      }

      &-title {
        font-weight: 900;
        font-size: 36px;
        line-height: 1.3;
        letter-spacing: 0.03em;
        margin-bottom: 32px;
        color: #fff;

        @media screen and (min-width: 1024px) and (max-width: 1799px) {
          font-size: 22px;
        }

        @media screen and (max-width: 1023px) {
          font-size: 18px;
        }
      }

      &-desc {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        color: #f5f5f5;

        @media screen and (min-width: 1024px) and (max-width: 1799px) {
          font-size: 18px;
        }

        @media screen and (max-width: 1023px) {
          font-size: 14px;
        }
      }

      &-more {
        position: absolute;
        bottom: 32px;
        left: 32px;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        padding: 14px 38px;
        border-radius: 55px;
        border: $border;
        color: #fff;

        @media screen and (min-width: 1024px) and (max-width: 1799px) {
          left: 20px;
          bottom: 20px;
          padding: 12px 20px;
          font-size: 14px;
        }

        @media screen and (max-width: 1023px) {
          padding: 5px 16px;
          font-size: 12px;
          left: 15px;
          bottom: 15px;
        }
      }
    }
  }
}
