.menu {
  border-bottom: $border;
  background-color: #fff;
  transition: all 0.3s ease;

  &__wrap {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding-right: 46px;
    border-right: $border;
    height: inherit;
  }

  .menu-item {
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.01em;
      color: $colorIcon;
      position: relative;

      &:hover {
        color: $colorMain;
      }

      &::before {
        content: "";
        width: 37px;
        height: 37px;
        margin-right: 16px;
        display: block;
      }
    }

    &.current-menu-item {
      a {
        color: $colorMain;
      }
    }
  }

  @include backgroundMenu("shop");
  @include backgroundMenu("sushi");
  @include backgroundMenu("rolls");
  @include backgroundMenu("sets");
  @include backgroundMenu("soups");
  @include backgroundMenu("wok");
  @include backgroundMenu("stock");
  @include backgroundMenuHover("shop");
  @include backgroundMenuHover("sushi");
  @include backgroundMenuHover("rolls");
  @include backgroundMenuHover("sets");
  @include backgroundMenuHover("soups");
  @include backgroundMenuHover("wok");
  @include backgroundMenuHover("stock");

  &__cart {
    &-wrap {
      margin-left: auto;
      padding-left: 32px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:hover .cart path {
        fill: $colorMain;
      }
    }

    &-amount {
      position: absolute;
      background-color: $colorMain;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      left: 52px;
      bottom: -5px;
    }

    &-total {
      display: inline-block;
      margin-left: 10px;
      white-space: nowrap;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: $colorIcon;
      min-width: 100px;
    }
  }

  &.fixed {
    position: fixed;
    left: 0;
    top: -100px;
    right: 0;
    z-index: 9;
    transform: translateY(100px);
  }

  @include detailedMenuHover("shop");
  @include detailedMenuHover("sushi");
  @include detailedMenuHover("rolls");
  @include detailedMenuHover("sets");
  @include detailedMenuHover("soups");
  @include detailedMenuHover("wok");
  @include detailedMenuHover("stock");
}

