.menu {
  border-bottom: $border;
  background-color: #fff;
  transition: all 0.3s ease;
  position: relative;

  &__wrap {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    @media screen and (min-width: 1023px) and (max-width: 1800px) {
      height: 50px;
    }

    @media screen and (max-width: 1023px) {
      height: 37px;
      margin: 0 -15px;
      padding: 0 15px;
      overflow-x: auto;
      width: calc(100% + 30px);
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
      visibility: hidden;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 46px;
    border-right: $border;
    height: inherit;
    width: 100%;

    @media screen and (min-width: 1230px) and (max-width: 1799px) {
      padding-right: 20px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1230px) {
      padding-right: 10px;
    }

    @media screen and (max-width: 1023px) {
      padding-right: 0;
      border: unset;
    }
  }

  .menu-item {
    @media screen and (max-width: 1023px) {
      padding-right: 16px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: 0.01em;
      color: $colorIcon;
      position: relative;
      white-space: nowrap;

      @media screen and (min-width: 1230px) and (max-width: 1799px) {
        font-size: 20px;
      }

      @media screen and (min-width: 1024px) and (max-width: 1230px) {
        font-size: 18px;
      }

      @media screen and (max-width: 1023px) {
        font-size: 14px;
      }

      &:hover {
        color: $colorMain;
      }

      &::before {
        content: "";
        width: 37px;
        height: 37px;
        margin-right: 16px;
        display: block;
        transform-origin: left;

        @media screen and (min-width: 1230px) and (max-width: 1799px) {
          transform: scale(0.8);
          margin-right: 10px;
        }

        @media screen and (max-width: 1230px) {
          transform: scale(0.6);
          margin-right: 0;
        }
      }
    }

    &.current-menu-item {
      a {
        color: $colorMain;
      }
    }

    @media screen and (max-width: 1799px) {
      &:last-of-type {
        display: none;
      }
    }
  }

  @include backgroundMenu("shop");
  @include backgroundMenu("sushi");
  @include backgroundMenu("rolls");
  @include backgroundMenu("sets");
  @include backgroundMenu("soups");
  @include backgroundMenu("wok");
  @include backgroundMenu("stock");
  @include backgroundMenu("more");
  @include backgroundMenu("gukan");
  @include backgroundMenuHover("shop");
  @include backgroundMenuHover("sushi");
  @include backgroundMenuHover("rolls");
  @include backgroundMenuHover("sets");
  @include backgroundMenuHover("soups");
  @include backgroundMenuHover("wok");
  @include backgroundMenuHover("stock");
  @include backgroundMenuHover("more");
  @include backgroundMenuHover("gukan");

  &__cart {
    &-svg {
      @media screen and (min-width: 1230px) and (max-width: 1799px) {
        transform: scale(0.8);
      }

      @media screen and (max-width: 1230px) {
        transform: scale(0.6);
      }
    }

    &-wrap {
      margin-left: auto;
      padding-left: 32px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media screen and (min-width: 1230px) and (max-width: 1799px) {
        padding-left: 20px;
      }

      @media screen and (max-width: 1230px) {
        padding-left: 10px;
      }

      @media screen and (max-width: 1023px) {
        padding: 0;
        margin: 0;
      }

      &:hover .menu__cart-svg path {
        fill: $colorMain;
      }
    }

    &-amount {
      position: absolute;
      background-color: $colorMain;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      left: 52px;
      bottom: -5px;

      @media screen and (max-width: 1799px) {
        width: 20px;
        height: 20px;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
      }

      @media screen and (min-width: 1230px) and (max-width: 1799px) {
        left: 40px;
      }

      @media screen and (min-width: 1024px) and (max-width: 1230px) {
        left: 32px;
        bottom: -2px;
      }

      @media screen and (max-width: 1023px) {
        bottom: 2px;
        left: 22px;
        color: #fff;
      }
    }

    &-total {
      display: inline-block;
      margin-left: 10px;
      white-space: nowrap;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: $colorIcon;
      min-width: 100px;

      @media screen and (min-width: 1230px) and (max-width: 1799px) {
        font-size: 20px;
      }

      @media screen and (max-width: 1230px) {
        font-size: 18px;
      }

      @media screen and (max-width: 1023px) {
        display: none;
      }
    }
  }

  &.fixed {
    position: fixed;
    left: 0;
    top: -100px;
    right: 0;
    z-index: 6;
    transform: translateY(100px);
  }

  @include detailedMenuHover("shop");
  @include detailedMenuHover("sushi");
  @include detailedMenuHover("rolls");
  @include detailedMenuHover("sets");
  @include detailedMenuHover("soups");
  @include detailedMenuHover("wok");
  @include detailedMenuHover("stock");
  @include detailedMenuHover("gukan");

  &__sub {
    border-top: $border;

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 16px 0;
      width: 100%;

      @media screen and (min-width: 1024px) and (max-width: 1799px) {
        padding: 12px 0;
      }

      @media screen and (max-width: 1023px) {
        padding: 10px 15px;
        overflow-x: auto;
        width: calc(100% + 30px);
        margin: 0 -15px;
      }

      &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        visibility: hidden;
      }
    }

    &-item {
      margin-right: 5.65%;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.2;
      letter-spacing: 0.01em;
      color: #4b4b4b;
      white-space: nowrap;
      transition: color 0.2s ease;

      @media screen and (min-width: 1024px) and (max-width: 1799px) {
        font-size: 18px;
        margin-right: 20px;
      }

      @media screen and (max-width: 1023px) {
        margin-right: 16px;
        font-size: 14px;

        &:last-of-type {
          padding-right: 15px;
        }
      }

      &.active {
        color: $colorMain;
      }
    }
  }
}

@import "components/mobile";
