.main-page {
  position: relative;

  .assortiment {
    background-color: unset;

    .title {
      display: none;
    }
  }

  .map {
    background-color: #fff;

    @media screen and (max-width: 1023px) {
      padding: 24px 0;
      background-color: #fff;
    }
  }
}
