.map {
  padding: 60px 0;

  @media screen and (max-width: 1023px) {
    padding: 24px 0;
  }

  &__wrap {
    height: 700px;

    @media screen and (max-width: 1023px) {
      height: 300px;
    }
  }
}
