.products.columns-4 {
  display: grid;
  grid-gap: 63px 68px;
  grid-template-columns: repeat(4, 1fr);
  padding: 42px 0 80px;

  @media screen and (min-width: 1024px) and (max-width: 1800px) {
    grid-gap: 30px 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

.product {
  color: #464646;
  overflow: hidden;
  border-radius: 5px;
  border: $colorBg;
  position: relative;
  width: 100% !important;
  margin: 0 !important;

  &__tags {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media screen and (min-width: 768px) and (max-width: 1799px) {
      top: 15px;
      left: 15px;
    }

    @media screen and (max-width: 767px) {
      top: 12px;
      left: 8px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $colorRed;
      padding: 4px 8px;
      border-radius: 5px;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.01em;
      margin-bottom: 12px;

      @media screen and (max-width: 1799px) {
        font-size: 12px;
      }

      &::before {
        content: "";
        width: 14px;
        height: 14px;
        margin-right: 8px;
        background-position: center center;
        background-size: cover;
      }

      &.spicy::before {
        background: url("./../icons/spicy.svg") no-repeat;
      }

      &.baked::before {
        background: url("./../icons/baked.svg") no-repeat;
      }

      &.stock::before {
        content: "%";
      }
    }
  }

  &__img {
    cursor: pointer;
    width: 100%;
    height: auto;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    background-color: #fff;
    padding: 24px 30px 18px;
    min-height: 177px;
    position: relative;
    padding-bottom: 3em;
    overflow: hidden;

    @media screen and (min-width: 768px) and (max-width: 1799px) {
      padding: 15px;
      padding-bottom: 3em;
    }

    @media screen and (max-width: 767px) {
      padding: 12px 8px;
      padding-bottom: 3em;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    padding-bottom: 4px;
  }

  &__attributes {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    padding-bottom: 12px;
  }

  &__short-desc {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
  }

  &__price {
    position: absolute;
    bottom: 18px;
    left: 30px;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1799px) {
      left: 15px;
      bottom: 15px;
    }

    @media screen and (max-width: 767px) {
      left: 12px;
      bottom: 8px;
    }
  }

  &__main-price {
    display: inline-block;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: $colorMain;
    margin-right: 17px;

    @media screen and (min-width: 768px) and (max-width: 1799px) {
      font-size: 20px;
    }

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__old-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-decoration-line: line-through;
    color: #bdbdbd;
  }

  &__amount {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorMain;
    color: #fff;
  }

  &__quantity {
    padding: 0 12px;
  }

  &__function {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .product__amount {
    background-color: $colorMain;
    width: 126px;
    height: 56px;
    border-radius: 5px 0 5px 0;
    padding: 14px 24px;

    @media screen and (max-width: 1779px) {
      width: 100px;
      height: 50px;
    }

    .product__button {
      color: #fff;
      cursor: pointer;
      border: none;
      background-color: $colorMain;
      font-weight: 800;
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.01em;
      padding: 5px 10px;

      &[disabled="disabled"] {
        opacity: 0.5;
      }

      @media screen and (max-width: 1779px) {
        font-size: 20px;
        padding: 5px 7px;
      }
    }

    .product__quantity {
      font-weight: 800;
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.01em;
      color: #fff;
      border: none;
      background-color: $colorMain;
      width: 2em;
      padding: 0;
      margin: 0;

      @media screen and (max-width: 1779px) {
        font-size: 20px;
      }
    }
  }

  .add_to_cart_button {
    width: 85px;
    height: 82px;
    border-radius: 50%;
    background-color: $colorMain;
    position: absolute;
    right: -20px;
    bottom: -30px;
    padding: 14px 18px;
  }

  &[data-quantity="0"] {
    .product__amount {
      display: none;
    }

    .add_to_cart_button {
      display: flex;
    }
  }

  &:not([data-quantity="0"]) {
    .product__amount {
      display: flex;
    }

    .add_to_cart_button {
      display: none;
    }
  }

  &__not-found {
    padding: 50px 0;
    font-size: 30px;

    a {
      text-decoration: underline;
      color: $colorIcon;
    }
  }
}

//Hide floating cart
#xt_woofc {
  display: none;
}

.added_to_cart.wc-forward {
  display: none;
}

.pagination,
.woocommerce-pagination {
  margin: 0 auto 80px;

  .page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;

    a.page-numbers {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 54px;
      height: 54px;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: #828282;
    }

    span.current {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 54px;
      height: 54px;
      color: $colorTitle;
      border-radius: 5px;
      border: 1px solid $colorMain;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.01em;
    }
  }
}

.navigation {
  margin: 0 auto 80px;
}
