.search-block {
  &__wrap {
    padding-top: 32px;
  }

  .alert-warning {
    font-size: 30px;
    color: $colorTitle;
    padding-bottom: 32px;
  }

  .search-form {
    margin-bottom: 41px;

    @media screen and (max-width: 1023px) {
      margin-bottom: 0;
    }
  }

  .search-field {
    background-color: #fff;
    border-radius: 5px;
    border: $border;
    width: 33%;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    color: $colorIcon;
    padding: 24px;

    @media screen and (max-width: 1023px) {
      width: 100%;
      font-size: 20px;
      padding: 12px 15px;
    }
  }

  .search-submit {
    display: none;
  }
}
