.slider {
  position: relative;

  &__arrow {
    position: absolute;
    cursor: pointer;
    width: 59px;
    height: 59px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -100px;

    @media screen and (min-width: 768px) and (max-width: 1779px) {
      width: 45px;
      height: 45px;
      bottom: -80px;
    }

    @media screen and (max-width: 767px) {
      width: 30px;
      height: 30px;
      bottom: -40px;

      svg {
        transform: scale(0.6);
      }
    }

    &.slick-disabled {
      opacity: 0.3;
    }

    &_next {
      right: 0;

      @media screen and (min-width: 768px) and (max-width: 1779px) {
        right: calc(50% - 60px);
      }

      @media screen and (max-width: 767px) {
        right: calc(50% - 40px);
      }
    }

    &_prev {
      transform: rotate(180deg);
      right: 100px;

      @media screen and (min-width: 768px) and (max-width: 1779px) {
        right: unset;
        left: calc(50% - 60px);
      }

      @media screen and (max-width: 767px) {
        right: unset;
        left: calc(50% - 40px);
      }
    }
  }
}

.slick-list {
  margin: 0 -30px;

  @media screen and (min-width: 480px) and (max-width: 1800px) {
    margin: 0 -15px;
  }

  @media screen and (max-width: 480px) {
    margin: 0;
  }
}

.slick-slide {
  padding: 0 30px;

  @media screen and (min-width: 480px) and (max-width: 1800px) {
    padding: 0 15px;
  }

  @media screen and (max-width: 480px) {
    padding: 0;
  }
}
